title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[contactform]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "home"

[builderList]
modelClass = "Watchlear\Beans\Models\Bean"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<header id="header">
  <div class="intro" style="background: url({{ 'assets/images/intro-bg1.jpg' | theme }}) top center no-repeat; background-size: cover;">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <h1>Фасоль из Таласа</h1>
            <p>Продаём органическую фасоль из Кыргызстана от производителя.<br><br>
              - НЕ СОДЕРЖИТ ГМО<br>
              - БИО ПРОДУКТ</p>
               <a href="#callback" data-form="Получить полный прайс: Верхняя" class="btn btn-custom btn-lg page-scroll open-popup-link">Получить полный прайс</a>
            </div>
      </div>
    </div>
  </div>


</header>

<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>Добро пожаловать в <span>TalasBean</span></h2>
          <hr>
          <p>Мы занимаемся экспортом фасоли уже 25 лет. Мы не только продаем фасоль, но и выращиваем её сами.</p>
          <p>Наша работа основыватся на 4-х принципах: принцип здоровья, принцип экологии, принцип справедливости и принцип работы.</p>
          <a href="#services" class="btn btn-custom btn-lg page-scroll">Показать наши услуги</a> </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="about-media"> <img src="{{ 'assets/images/about-1.jpg' | theme }}" alt=" "> </div>
        <div class="about-desc">
          <h3>Процесс посадки фасоли</h3>
          <p>Раньше фасоль сажали именно таким образом, но благо сейчас есть спеальные оборудования.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="about-media"> <img src="{{ 'assets/images/about-2.jpg' | theme }}" alt=" "> </div>
        <div class="about-desc">
          <h3>Процесс прорастания </h3>
          <p>Фасоль прорастает в течении 3 - 4 месяцев до такого состояния.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="s-wide s-dark s-adv">

  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <div class="s-adv-item">
          <h3><span data-count="25"></span> лет на рынке</h3>
          <p>25 лет успешной работы на рынке </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="s-adv-item">
          <h3><span data-count="500000"></span> тон</h3>
          <p>Более 500000 тон экспорта</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="s-adv-item">
          <h3><span data-count="120"></span> партнеров</h3>
          <p>Более 120 партнеров</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="s-adv-item">
          <h3><span data-count="1"></span> место</h3>
          <p>№ 1 по экспорту фасоли</p>
        </div>
      </div>

    </div>
  </div>

</section>

<div id="services">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title text-center">
      <h2>Основные направления услуг</h2>
      <hr>
      <p>Все этапы услуг проходят с колоссальной точностью.</p>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="services-item">
           <div class="service-media"> <img src="{{ 'assets/images/services/1.svg' | theme }}" alt=" " class="img-responsive img-svg"> </div>
        <div class="service-desc">
          <h3>Выращивание высококачественной фасоли</h3>
          <p>Выращивание высококачественной фасоли и экспорт готовой продукции в другие страны является основным и главным направлением компании Talasbean. Наша компания выращивает Фасоль уже более 20 лет.</p>
        </div>
        </div>
       
      </div>
      <div class="col-md-4 text-center">
         <div class="services-item">
        <div class="service-media"> <img src="{{ 'assets/images/services/2.svg' | theme }}" alt=" " class="img-responsive img-svg"> </div>
        <div class="service-desc">
          <h3>Очистка, сортировка и калибровка</h3>
          <p>Основная задача наших специалистов это предоставления натуральной и качественной фасоли для потребителей.</p>
        </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="services-item">
        <div class="service-media"> <img src="{{ 'assets/images/services/3.svg' | theme }}" alt=" " class="img-responsive img-svg"> </div>
        <div class="service-desc">
          <h3>Экспорт готовой продукции</h3>
          <p>СКХ «Берен» является производителем и экспортером фасоли. С 2008 года компания экспортирует фасоль в страны ближнего и дальнего зарубежья.</p>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Сорта фасоли</h2>
      <hr>
      <p>Все предлагаемые нами сорта фасоли и процесс работы.</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">Всё вместе</a></li>
            <li><a href="#" data-filter=".lawn">Сорта фасоли</a></li>
            <li><a href="#" data-filter=".garden">Процесс работы</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    {% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="row">
      <div class="portfolio-items">

    {% for record in records %}
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% if record.type == 0 %}
               <div class="col-sm-6 col-md-4 lawn">
                  <div class="portfolio-item">
                    <div class="hover-bg"> <a href="{{record.beanimage.path}}" title="{{record.title}}" data-lightbox-gallery="gallery1">
                      <div class="hover-text">
                        <h4>Сорта фасоли</h4>
                      </div>
                      <img src="{{record.beanimage.path}}" class="img-responsive" alt="{{record.title}}"> </a> </div>
                  </div>
                </div>
            {% endif %}
            {% if record.type == 1 %}
               <div class="col-sm-6 col-md-4 garden">
                  <div class="portfolio-item">
                    <div class="hover-bg"> <a href="{{record.beanimage.path}}" title="{{record.title}}" data-lightbox-gallery="gallery1">
                      <div class="hover-text">
                        <h4>Процесс работы</h4>
                      </div>
                      <img src="{{record.beanimage.path}}" class="img-responsive" alt="{{record.title}}"> </a> </div>
                  </div>
                </div>
            {% endif %}
           
        
    {% endfor %}

</div>
</div>

   
  </div>
</div>
<div id="testimonials" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title">
        <h2>Факты о фасоли: </h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="testimonial" class="owl-carousel owl-theme">
            <div class="item">
              <p>Фасоль — рекордсмен среди растений по количеству легко усваиваемого белка. Также в ста граммах фасоли содержится примерно половина дневной нормы клетчатки, необходимой человеку. Но этим ее полезные свойства не исчерпываются. Большое количество серы, которым может похвастаться фасоль, поможет справиться с кишечными инфекциями (и в целом повысит иммунитет), а также с кожными заболеваниями, болезнями бронхов и ревматизмом. Богата фасоль и железом, без которого невозможно образование эритроцитов.</p>
            </div>
            <div class="item">
              <p>Фасоль известна людям очень давно, как минимум пять тысячелетий. В китайских летописях, датированных 3000 г до н.э. уже есть упоминания о ней. По описанию древняя фасоль напоминает современный сорт маш.</p>
            </div>
            <div class="item">
              <p>Всего сортов фасоли более 200. У нас распространены всего 4:<br>
                  1.красная фасоль - укрепляет иммунитет, положительно действует на пищеварительный тракт, улучшает состояние кожи;<br>
                  2.белая фасоль - укрепляет кости и зубы, так как богата кальцием и железом;<br>
                  3.фиолетовая фасоль (грузинская) - меняет цвет при варке, является источником витаминов;<br>
                  4.жёлтая фасоль - можно есть сырой, варёной и жареной, хороший источник витаминов и минералов.</p>
            </div>
            <div class="item">
              <p>Фасоль питательна и хорошо хранится, поэтому она часто присутствует в рационе военнослужащих. Особенно славился любовью к фасоли Наполеон Бонапарт. Он считал, что фасоль придаёт силы мышцам и мыслей головному мозгу.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="s-wide s-equipment">


  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3>Ваше здоровье превыше всего</h3>
        <h3> Нашa Фасоль не содержит ГМО</h3>
      </div>
     

    </div>
    <div class="row">
     
        
          <div class="col-md-4">
             <div class="carousel-item">
              <div class="carousel-wrap">
                <div class="car-img-wrap">
                  <img class="responsive-img" src="{{ 'assets/images/bg-car.png' | theme }}" alt="bg-carousel">
                  <img class="responsive-img img-svg" src="{{ 'assets/images/partners/clock-forward.svg' | theme }}" alt="Korf">
                </div>
                <div class="carousel-text">
                  <h3>Наша миссия:</h3>
                  <p>На первое место мы ставим здоровье наших потребителей и выращиваем органически чистую фасоль. Всегда следим за качеством фасоли!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="carousel-item">
              <div class="carousel-wrap">
                <div class="car-img-wrap">
                  <img class="responsive-img" src="{{ 'assets/images/bg-car.png' | theme }}" alt="bg-carousel">
                  <img class="responsive-img img-svg" src="{{ 'assets/images/partners/100-natural-badge.svg' | theme }}" alt="Daikin">
                </div>
                <div class="carousel-text">
                  <h3>Наша продукция:</h3>
                  <p>Наша фасоль славится во всем мире. Наша компания с 2008 года экспортирует фасоль в страны ближнего и дальнего зарубежья.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="carousel-item">
              <div class="carousel-wrap">
                <div class="car-img-wrap">
                  <img class="responsive-img" src="{{ 'assets/images/bg-car.png' | theme }}" alt="bg-carousel">
                  <img class="responsive-img img-svg" src="{{ 'assets/images/partners/24-hours-phone-service.svg' | theme }}" alt="Mitsubishi Electric">
                </div>
                <div class="carousel-text">
                  <h3>Свяжитесь с нами.</h3>
                  <p>Все заинтересованные компании приглашаются к сотрудничеству! Мы всегда открыты к партнерству и сотрудничеству.</p>
                </div>
              </div>
            </div>
          </div>

         

   
    </div>

  </div>

</section>

<div class="blog-company">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Новости компании</h2>
      </div>
    </div>
    <div class="row">
      {% set posts = blogPosts.posts %}


    {% for post in posts %}
     <div class="col-md-4">
   <div class="thumbnail"> 
     {% for image in post.featured_images|slice(0,1) %}
                 <img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="{{image.path}}" data-holder-rendered="true"> 
     
            {% endfor %}
  <div class="caption"> 
       <h3><a href="{{ post.url }}">{{ post.title }}</a></h3> 
       <p class="desc">{{ post.summary|raw }}</p> 
       <p>
         <a href="{{ post.url }}" class="btn btn-primary" role="button">Продолжить ...</a> 
        </p> 
      </div> 
    </div> 
  </div>
      
    {% else %}
        <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
    {% endfor %}




 
</div>
  </div>
</div>

<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title text-center">
      <h2>Наши контакты</h2>
      <p>____________</p>
      <p>Отправьте нам заявку и мы перезвоним вам в течение 20 минут.</p>
    </div>
    <div class="col-md-10 col-md-offset-1 contact-info">
      <div class="col-md-4">
        <h3>Адрес</h3>
        <hr>
        <div class="contact-item">
          <p>г.Талас, Кыргызстан</p>
          <p>ул.Ленина, 287 </p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Часы работы</h3>
        <hr>
        <div class="contact-item">
          <p>08:00 - 22:00(по кыргызскому времени)</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Контакты</h3>
        <hr>
        <div class="contact-item">
          <p>Телефон: +996 555201766</p>
          <p>               +996 779603314</p>
          <p>Email: akyl_talas@mail.ru</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Заполнить заявку</h3>
        {% component 'contactform' %}
    </div>
  </div>
</div>